h1{
    color: rgb(64, 132, 109);
    margin-top: 20px;
}

header{
    border: 3px solid #4ea286c3;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    grid-template-rows: repeat(1, 1fr);
    padding: 1%;
    background-color: rgba(64, 132, 109, 0.95);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        background-color: rgba(64, 132, 109, 0.95);
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: rgba(64, 132, 109, 0.95);
        border-radius: 10px;
    }
}

.navegacao{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    grid-template-rows: repeat(1, 1fr);
    padding: 1%;

}

.botão{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .botão {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .botão {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}

.logo{
    width: 12%;
}

@media (max-width: 768px) {
    .logo {
        width: 12%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 20%;
        display: block;
        margin: 0 auto;
    }
}